@import './src/global/variables';
@import './src/global/imagenes';
@import './src/global/mediaquery';

* {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: $quinto-color;
  cursor: pointer;
}
.header {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $primary-color;
  padding: $primary-padding;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .icono {
    width: 25px;
  }
  .inicio {
    justify-content: space-around;
    display: flex;
    margin: $secundari-margin;
    padding: $secundari-padding;

    gap: $tercer-gap;
    button {
      border: none;
      font-size: 0, 4em;
    }
    .btn {
      background-color: $tercer-color;
      border-radius: $primari-borderadius;
      color: $secundary-color;
      width: 60px;
      min-height: 20px;
      font-size: large;
    }
  }

  .input {
    width: 40%;
    border: none;
    flex-grow: 1;

    .buscador {
      flex-wrap: wrap;
      width: 100%;
      border: none;
      border-radius: $primari-borderadius;
      background-color: $sexto-color;
      height: 35px;
    }
  }
  .finheader {
    display: flex;
    width: 15%;
    justify-content: space-around;
  }
}
