@media (max-width: 450px) {
  .header {
    .inicio {
      width: 25%;

      z-index: 1000;
      .btn {
        font-size: small;
        font-weight: lighter;
      }
    }
    .buscador {
      margin-left: 45px;
    }
    .input {
      max-width: 120px;
    }
    .finheader {
      img {
        display: none;
        width: 0%;
      }
    }
  }
  .image-item {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 750px) {
  .header {
    .input {
      width: 40%;
      margin-left: 80px;
    }
    .finheader {
      img {
        display: none;
        width: 0%;
      }
    }
  }
  .image-item {
    flex: 1 1 calc(50% - 20px);
  }
}
