@media (max-width: 450px) {
  .header {
    .inicio {
      width: min-content;
    }

    .input {
      max-width: 80px;
    }
    .finheader {
      img {
        display: none;
        width: 0%;
      }
    }
  }
  .image-item {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 750px) {
  .header {
    .input {
      width: 40%;
      margin-left: 40px;
    }
    .inicio {
      width: min-content;
    }

    .finheader {
      img {
        display: none;
        width: 0%;
      }
    }
  }
}
