$primary-padding: 5px;
$secundari-padding: 10px;
$primari-gap: 16px;
$secundari-gap: 5px;
$tercer-gap: 10px;
$primari-margin: 20px;
$secundari-margin: 5px 0px;
$primari-borderadius: 30px;
$secundari-borderadius: 10px;
$tercer-borderadius: 40px;
$cuarto-borderadius: 50%;
$primary-color: whitesmoke;
$secundary-color: white;
$tercer-color: black;
$cuarto-color: rgb(171, 235, 248);
$quinto-color: #ffffff;
$sexto-color: rgb(245, 231, 245);
